/*-------------------
  共通
--------------------*/
html{
	font-size: 62.5%;
}

body{
	font-family: 'Noto Serif', 'Noto Serif JP', serif;
	font-size: 1.6rem;
	line-height: 1.8;
	letter-spacing: 0.05em;
	color: #171717;
}

a{
  text-decoration: none;
}


img{
	width: 100%;
	vertical-align: bottom;
}

/*-------------------
  ヘッダー
--------------------*/
#header{
	box-sizing: border-box;
	width: 100%;
	padding: 20px 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 36px;
}

.header-logo a{
	display: block;
	font-size: 2.6rem;
	font-style: italic;
	color: #fff;
}

.header-list{
	display: flex;
}

.header-list_item{
	margin-right: 30px;
	font-style: italic;
}
.header-list_item a:hover{
	color: #000;
	transition: 0.3;
}
.header-list_item a{
	display: block;
	width: 100%;
	color: #fff;
}

.header-list_item:last-of-type{
	margin-right: 0;
}

#header.m-fixed{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #282F35;
	transition: 0.5s;
}
.burger-btn{
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
}
.bar{
	width: 30px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	border-radius: 30px;
}
.bar-top{
	transform: translateY(-10px);
}
.bar-bottom{
	transform: translateY(10px);
}
.burger-btn.close .bar-top{
	transform: rotate(45deg);
	transition: .5s;
}
.burger-btn.close .bar-middle{
	opacity: 0;
}
.burger-btn.close .bar-bottom{
	transform: rotate(-45deg);
	transition: .5s;
}

/*-------------------
  メインビジュアル
--------------------*/
.page-header{
	background-image: url("../img/contact-page-bgi@2x.jpg");
	height: 453px;
	margin-bottom: 100px;
	position: relative;
}
.page-title{
	font-size: 6rem;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title-bottom{
	position: absolute;
	bottom: 40px;
	padding: 0 0 0 120px;
	max-width: 1200px;
	font-size: 9rem;
	font-weight: bold;
	color: #fff;
	opacity: 0.1;
}

/*-------------------
  フォーム
--------------------*/
form{
	max-width: 700px;
	margin: 0 auto;
}
.form-parts{
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
}
input[type="text"],input[type="tel"],input[type="email"],textarea{
	padding: 7px;
}
input[type="text"]:focus,input[type="tel"]:focus,input[type="email"]:focus,textarea:focus{
	background-color: #fffcea;
}
input[type="submit"]{
	display: block;
	margin: 80px auto;
	width: 235px;
	line-height: 60px;
	font-weight: bold;
	background-color: #F7D43F;
	color: #000;
	text-align: center;
	border-radius: 30px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgba(255,237,165,1.00);
}
textarea{
	resize: none;
}
/*-------------------
  footer
--------------------*/
footer{
	line-height: 80px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
}

/*--------------------
 　レスポンシブ
---------------------*/
@media(max-width:768px){
	.wrapper{
		padding: 0 4vw;
	}
	form{
		max-width: 100%;
	}
	#header{
		padding: 30px 4vw;
	}
	.header-nav{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	.header-list{
		height: 100%;
		flex-direction: column;
	    align-items: center;
		justify-content: center;
		background-color: #282F35;
		z-index: 2;
	}
	.header-list_item{
		margin: 0 0 30px;
	}
	.header-list_item:last-of-type{
		margin-bottom: 0;
	}
	.burger-btn{
		display: block;
	}
	body.noscroll{
		overflow: hidden;
	}
	.title-bottom{
		font-size: 4rem;
		padding: 0 4vw;
	}
}


